<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213116220056-htsppl9cad2bkoe1n0lpbvp0pnqh11e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213116220056-htsppl9cad2bkoe1n0lpbvp0pnqh11e6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>213116220056-6a943jqm28s0lengh4tjvsnm9hqqii04.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0YJFNAq_4ccPEHi_r2F9diDV1B-GreK4</string>
	<key>GCM_SENDER_ID</key>
	<string>213116220056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PublicGalleryJiaLee</string>
	<key>PROJECT_ID</key>
	<string>public-gallery-b362e</string>
	<key>STORAGE_BUCKET</key>
	<string>public-gallery-b362e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213116220056:ios:2f73bbcc7390fbfcdd96ed</string>
</dict>
</plist>